<h1>Editing Variation: <%= @variation.id %></h1>

<% form_for([@product,@variation], :html => {:class => 'standard_form'}) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Attributes</legend>
    <ul class="form">
      <%= render :partial => 'variant_form', :locals => {:f => f} %>
    </ul>
  </fieldset>
  <%= f.submit 'Update Variant' %>
<% end %>

<%= link_to 'Back', @product, {:class => 'lightbox_ignore'} %>