<fieldset>
  <legend>User Details</legend>
  <ul class="form">
    <li>
      <%= f.label :login, "Login" %>
      <%= f.text_field :login %>
    </li>
    <li>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>
    </li>
    <li>
      <%= f.label :password, "Password" %>
      <%= f.text_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.text_field :password_confirmation %>
    </li>
  </ul>
</fieldset>