<div id="status" class="panel">
  <h2>New Garment Size <%= link_to 'Return to size list &gt;&gt;', garment_sizes_path, {:class => 'secondary'} %></h2>
</div>
<% form_for(@garment_size, :html => {:class => 'standard_form'}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'garment_size_form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
    <%= link_to 'Back', garment_sizes_path %>
  </p>
<% end %>