<div id="status" class="panel">
  <h2>Listing Colors <%= link_to 'New color &gt;&gt;', new_color_path, {:class => 'secondary'} %></h2>
  <ul id="colors" class="line_item_list">
  <% @colors.each do |color| %>
    <li><span class="color_preview" style="background: <%= color.hex_value %>"></span> <span><%= color.name %></span> <%= link_to 'Edit', edit_color_path(color), {:class => 'edit action'} %> <%= link_to 'Destroy', color, {:class => 'action delete'} %></li>
  <% end %>
  </ul>
</div>