<fieldset>
  <legend>Product Information</legend>
  <ul class="form">
     <li><%= f.label :name, 'Product Name' %><%= f.text_field :name, {:class => 'full_length'} %></li>
     <li><%= f.label :price, 'Product Price:' %><%= f.text_field :price %></li>
     <li><%= f.label :brand, "Brand" %><%= f.collection_select :brand_id, Brand.all, :id, :name, {:prompt => true} %></li>
  </ul>
</fieldset>
<fieldset>
  <legend>Primary Product Photo</legend>
  <ul class="form">
     <li><%= f.label :photo, 'Product Photo' %><%= f.file_field :photo %></li>
  </ul>
</fieldset>
<fieldset>
  <legend>Product Description</legend>
  <ul class="form">
     <li>
        <%= f.label :full_description, 'Full Length Product Description:' %>
        <%= f.text_area :full_description, {:class => 'full_length'} %>
     </li>
  </ul>
</fieldset>
<fieldset>
  <legend>SEO Information</legend>
  <ul class="form">
     <li><%= f.label :title, 'SEO Title:' %>
     <%= f.text_field :title, {:class => 'extended_full_length'} %></li>
     <li><%= f.label :tag_list, 'Product Keywords:' %>
     <%= f.text_field :tag_list, {:class => 'extended_full_length'} %></li>
     <li><%= f.label :product_description, 'Product Description:' %>
     <%= f.text_area :description, {:class => 'full_length short'} %></li>
  </ul>
</fieldset>