<div id="site_settings_form" class="panel">
  <h2 id="panel_name"><%= @product.name %> <%= link_to "Return to products &amp; categories.", products_path, {:class => 'secondary'} %></h2>
  <fieldset id="product_details_display">
    <legend>Product Details</legend>
    <ul class="form">
      <li>
        <dl>
          <dt>Name:</dt>
          <dd><%= @product.name %></dd>
          <dt>Price:</dt>
          <dd><%= currency(@product.price) %></dd>
          <dt>Keywords:</dt>
          <dd><%= @product.tag_list %>&nbsp;</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>SEO Title:</dt>
          <dd><%= @product.title %>&nbsp;</dd>
          <dt>SEO Description:</dt>
          <dd><%= @product.description %>&nbsp;</dd>
        </dl>
      </li>
    </ul>
  </fieldset>
  <fieldset id="product_detail_description">
    <legend>Product Description</legend>
    <ul class="form">
       <li><%= @product.full_description %></li>
    </ul>
  </fieldset>
  <%= link_to 'Edit Product Details', edit_product_path(@product), {:class => 'stand_alone'} %>
  <fieldset id="product_detail_categories">
    <legend>Product Categories</legend>
    <ul class="interactive_toggle_list remove_list">
      <h3>Assigned To:</h3>
      <% @product.categories.each do |cat| %>
        <li><%= link_to cat.name, product_remove_category_path(@product,cat), {:class => 'remove'} %></li>
      <% end %>
    </ul>
    <ul class="interactive_toggle_list add_list">
      <h3>Add More Categories</h3>
      <% @product.potential_categories.each do |cat| %>
        <li><%= link_to cat.name, product_add_category_path(@product,cat), {:class => 'add'} %></li>
      <% end %>
    </ul>
  </fieldset>
  <fieldset id="product_detail_variations">
    <legend>Product Variants <%= link_to "New Variation &gt;&gt;", new_product_variation_path(@product), {:class => 'secondary lightbox_enabled'} %></legend>
    <ul class="form line_item_list" id="variations">
       <% if @variations.length > 0 %>
       <% @variations.each do |variation| %>
        <li id="variation_<%= variation.id %>">
          <span class="color_preview" style="background: <%= variation.color.hex_value %>"></span>
          <span class="color"><%= variation.color.name %></span>
          <span class="gender"><%= variation.garment_size.gender %></span>
          <span class="size"><%= variation.garment_size.name %></span>
          <span class="sku"><%= variation.sku %></span>
          <%= link_to "edit", edit_product_variation_path(@product,variation), {:class => 'edit_variation lightbox_enabled action edit'} %>
          <%= link_to "delete", [@product,variation], {:class => 'delete_variation action delete'} %>         
        </li>
       <% end %>
       <% else %>
       <li style="display:none">
          <span class="color_preview"></span>
          <span class="color"></span>
          <span class="gender"></span>
          <span class="size"></span>
          <span class="sku"></span>
          <a href="#" class="edit_variation lightbox_enabled edit action">edit</a>
          <a href="#" class="delete action">delete</a>
       </li>
       <% end %>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Images</legend>
    <%= image_tag @product.photo.url(:display) %>
  </fieldset>
  <div id="destroy_alert">
     <h2>Wanna Delete this Product?</h2>
     <p>Hey if you want to delete this product it is possible. But make sure you do as you won't be able to undo this action. <%= link_to "Yes, I really want to delete this product.", @product, {:class => 'delete'} %></p>
   </div>
   <%= link_to 'Return to products &amp; categories.', products_path %>
</div>