<ol id="breadcrumb">
  <li><a href="/">Home</a></li>
  <% unless method.nil? %>
    <li><a href="<%= browse_category_path(method,categories.first.guid) %>"><%= method.capitalize %></a></li>
  <% end %>
  <% unless category.nil? %><li><a href="<%= browse_category_path(method,category.guid) %>"><%= category.name %></a></li><% end %>
  <% unless product.nil? %><li><a href="#"><%= product.name %></a></li><% end %>
</ol>