<ul id="secondary_navigation">
  <li class="section">
    <a class="current_section" href="#"><span class="leading_text">Currently in</span> <%= method.capitalize %><span class="drop_arrow"></span></a>
    <ul class="section_nav sub_navigation">
      <% unless method == Store::METHODS[:guys] %>
        <li><a href="<%= browse_category_path(Store::METHODS[:guys],guys_categories.first.guid) %>"><span class="leading_text">clothes for</span> Guys</a></li>
      <% end %>
      <% unless method == Store::METHODS[:girls] %>
        <li><a href="<%= browse_category_path(Store::METHODS[:girls],girls_categories.first.guid) %>"><span class="leading_text">clothes for</span> Girls</a></li>
      <% end %>
      <% unless method == Store::METHODS[:brand] %>
        <li><a href="<%= browse_category_path(Store::METHODS[:brand],brands.first.guid) %>"><span class="leading_text">browse all</span> Brands</a></li>
      <% end %>
      <% unless method == "sale" %>
        <li><a href="#"><span class="leading_text">see what's on</span> Sale</a></li>
      <% end %>
    </ul>
  </li>
  <li class="category">
    <ul class="categories_nav">
      <% if !@categories.blank? %>
        <% for category in @categories %>
          <li<%= ' class="current"' if current.id == category.id %>>
            <%= link_to category.name, browse_category_path(method,category.guid) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>