<ol class="product_showcase" id="<%= showcase_id %>">
  <% if !products.blank? %>
    <% for product in products %>
      <li id="product_<%= product.id %>" class="product">
        <ul>
            <li class="product_photo"><%= link_to image_tag(product.photo.url(:showcase), :alt => product.name, :width => 160, :height => 244), item_path_or_default(method,category,product) %></a></li>
            <li class="product_price"><%= currency(product.price) %></li>
            <li class="product_name"><%= link_to product.name, item_path_or_default(method,category,product) %></li>
        </ul>
      </li>
    <% end %>
  <% else %>
    <h2>No Products Were Found!</h2>
  <% end %>
</ol>