<ol id="breadcrumb">
  <li><%= link_to "Checkout Form", "#" %></li>
</ol>
<% form_for :order, @order, :url => confirm_path, :html => {:class => "checkout"} do |f| -%>
  <%= f.error_messages %>
  <% if !@order.transactions.blank? %>
  <div class="errorExplanation">
    <h2>There was a problem processing this order!</h2>
    <%= @order.transactions.last.message %>
  </div>
  <% end %>
  <fieldset>
    <legend>Contact Info</legend>
    <ul class="form">
      <li class="long">
        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email %>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Shipping Address</legend>
    <ul class="form">
      <li class="medium">
        <%= f.label :shipping_first, "First Name" %>
        <%= f.text_field :shipping_first %>
      </li>
      <li class="medium">
        <%= f.label :shipping_last, "Last Name" %>
        <%= f.text_field :shipping_last %>
      </li>
      <li class="long">
        <%= f.label :shipping_1, "Street Address" %>
        <%= f.text_field :shipping_1 %>
      </li>
      <li class="long unidentified">
         <%= f.label :shipping_2, "Street Address (continued)" %>
        <%= f.text_field :shipping_2 %>
      </li>
      <li class="medium">
        <%= f.label :shipping_city, "City" %>
        <%= f.text_field :shipping_city %>
      </li>
      <li class="short">
        <%= f.label :shipping_state, "State" %>
        <%= f.text_field :shipping_state %>
      </li>
      <li class="short">
        <%= f.label :shipping_zip, "Zip" %>
        <%= f.text_field :shipping_zip %>
      </li>
    </ul>
  </fieldset>
  <fieldset>
    <legend>Billing Address</legend>
    <div class="toggle">
      <label for="same_as_shipping">Same as shipping?</label>
      <input type="checkbox" name="same_as_shipping" value="1" id="same_as_shipping"/>
    </div>
    <ul class="form">
      <li class="medium">
        <%= f.label :billing_first, "First Name" %>
        <%= f.text_field :billing_first %>
      </li>
      <li class="medium">
        <%= f.label :billing_last, "Last Name" %>
        <%= f.text_field :billing_last %>
      </li>
      <li class="long">
        <%= f.label :billing_1, "Street Address" %>
        <%= f.text_field :billing_1 %>
      </li>
      <li class="long unidentified">
         <%= f.label :billing_2, "Street Address (continued)" %>
        <%= f.text_field :billing_2 %>
      </li>
      <li class="medium">
        <%= f.label :billing_city, "City" %>
        <%= f.text_field :billing_city %>
      </li>
      <li class="short">
        <%= f.label :billing_state, "State" %>
        <%= f.text_field :billing_state %>
      </li>
      <li class="short">
        <%= f.label :billing_zip, "Zip" %>
        <%= f.text_field :billing_zip %>
      </li>
    </ul>
  </fieldset>
  <fieldset id="shipping_method">
    <legend>Shipping Method</legend>
    <ul class="form">
      <li class="medium">
        <%= f.label :shipping_method, "Shipping Method" %>
        <%= f.select :shipping_method, Store::SHIPPING_METHODS %>
      </li>
    </ul>
  </fieldset>
  <ul class="form">
    <li><%= f.submit "Confirm Your Order (click only once!)", :class => "confirmation" %></li>
  </ul>
  <%= hidden_field_tag :cart_token, @cart.cart_token %>
<% end -%>
<%= render :partial => 'checkout_cart', :locals => {:line_items => @line_items, :cart => @cart, :order => nil} %>