<% if params[:search] %>
<h2>Showing all products that match "<%= params[:search] %>"</h2>
<%= render :partial => 'product_showcase', :locals => {
  :showcase_id => 'storefront', 
  :products => @products,
  :method => @method,
  :category => @category
} %>
<%= will_paginate @products %>
<% else %>
<% cache(:controller => 'layout', :action => 'store', :action_suffix => "product_showcase_page_#{params[:page] || 1}") do %>
<%= render :partial => 'product_showcase', :locals => {
  :showcase_id => 'storefront', 
  :products => @products,
  :method => @method,
  :category => @category
} %>
<%= will_paginate @products %>
<% end %>
<% end %>