<%= render :partial => 'breadcrumb' %>
<%= render :partial => 'category_nav' %>

<div id="product_details">
  <h2 class="product_name"><%= @product.name %></h2>
  <h3 class="product_price"><%= currency(@product.price) %></h3>
  <div class="product_description">
    <%= RedCloth.new(@product.full_description).to_html %>
  </div>
  <% form_tag(add_to_cart_path(@product.id)) do %>
    <ul class="form">
      <li>
        <%= label_tag :variation, "Size/Color:" %>
        <%= select_tag :variation, "<option value="">Please choose...</option>"+ 
        @product.variations.map { |v| 
          "<option value=\"#{v.id}\">#{v.color.name} // #{v.garment_size.name}</option>" 
        }.join(" ")%>
      </li>
      <li>
        <%= label_tag :quantity, "Quantity:" %>
        <%= select_tag :quantity, "<option value="">Please choose...</option>"+options_for_select((1..4).to_a)%>
      </li>
      <li>
        <%= submit_tag 'Add to Cart!', :class => 'add_to_cart' %>
      </li>
    </ul>
  <% end %>
</div>

<ul class="product_gallery">
  <li class="main">
    <img src="/images/sample_full_size.jpg" width="340" height="340" alt="Sample Full Size"/>
  </li>
  <li class="selected thumbnail">
    <a href="#"><img src="/images/sample_thumbnail.jpg" width="98" height="97" alt="Sample Thumbnail"></a>
  </li>
  <li class="thumbnail">
    <a href="#"><img src="/images/sample_thumbnail.jpg" width="98" height="97" alt="Sample Thumbnail"></a>
  </li>
  <li class="thumbnail">
    <a href="#"><img src="/images/sample_thumbnail.jpg" width="98" height="97" alt="Sample Thumbnail"></a>
  </li>
  <li class="thumbnail">
    <a href="#"><img src="/images/sample_thumbnail.jpg" width="98" height="97" alt="Sample Thumbnail"></a>
  </li>
</ul>

<div id="related_items">
  <h2>Items You Might Also Like:</h2>
  <%= render :partial => 'product_showcase', :locals => {:showcase_id => 'related_items_list', :products => @products} %>
</div>