<%= render :partial => 'secondary_navigation', :locals => {
  :current => @category, 
  :categories => @categories, 
  :method => @method,
  :guys_categories => @guys_categories,
  :girls_categories => @girls_categories,
  :kids_categories => @kids_categories,
  :gifts_categories => @gifts_categories,
  :pets_categories => @pets_categories,
  :brands => @brands,
  :product => @product
} %>

<div id="product_details">
  <h2 class="product_name"><%= @product.name %></h2>
  <h3 class="product_price"><%= currency(@product.price) %></h3>
  <div class="product_description">
    <%= RedCloth.new(@product.full_description).to_html %>
  </div>
  <% if !@variations.blank? && @product.in_stock? %>
  <% form_for(:line_item, @line_item, :url => add_to_cart_path(@method,@category.guid,@product.guid)) do |f| %>
    <%= f.error_messages %>
    <ul class="form">
      <li>
        <%= f.label :variation_id, "Size/Color:" %>
        <%= f.select :variation_id, @variations.map { |v| 
              ["#{v.color.name} // #{v.garment_size.gender} // #{v.garment_size.name}",v.id]
        } %>
      </li>
      <li>
        <%= f.label :quantity, "Quantity:" %>
        <%= f.select :quantity, (1..Store::MAX_QUANTITY).to_a %>
      </li>
      <li>
        <%= submit_tag 'Add to Cart!', :class => 'add_to_cart' %>
      </li>
    </ul>
  <% end %>
  <% else %>
  <p class="sorry">Sorry this item is currently out of stock!</p>
  <% end %>
</div>

<ul class="product_gallery">
  <li class="main">
    <%= link_to image_tag(@product.photo.url(:display), :height => 340, :width => 340, :alt => @product.name), @product.photo.url(:zoom), {:class => "zoom"} %>
  </li>
  <li class="selected thumbnail">
    <%= link_to image_tag(@product.photo.url(:thumbnail), :height => 100, :width => 100, :alt => @product.name), @product.photo.url(:zoom), {:class => "zoom"} %>
  </li>
</ul>

<div id="related_items">
  <h2>Items You Might Also Like:</h2>
  <%= render :partial => 'product_showcase', :locals => {
    :showcase_id => 'related_items_list', 
    :products => @products,
    :method => @method,
    :category => @category
  } %>
</div>