<ol id="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to "Order Confirm", '/' %></li>
</ol>
<div id="cart">
    <% if !@line_items.blank? %>
    <h2>Your confirmation number is: CS-<%= @order.id %></h2>
    
    <div id="order_addresses">
      <ul class="address_list">
        <li id="email_address" class="address">
          <h3>Email Address:</h3>
          <p><%= @order.email %></p>
        </li>
        <li id="shipping_address" class="address">
          <h3>Shipping Address:</h3>
          <p><%= @order.shipping_1 %><%= "<br/>#{@order.shipping_2}" unless @order.shipping_2.nil? %></p>
          <p><%= @order.shipping_city %>, <%= @order.shipping_state %> <%= @order.shipping_zip %></p>
        </li>
        <li id="billing_address" class="address">
          <h3>Billing Address:</h3>
          <p><%= @order.billing_1 %><%= "<br/>#{@order.billing_2}" unless @order.billing_2.nil? %></p>
          <p><%= @order.billing_city %>, <%= @order.billing_state %> <%= @order.billing_zip %></p>
        </li>
      </ul>
    </div>
    
    <ol id="lineitems" class="line_item_list">
      <li class="title_bar">
        <ul class="line_item">
          <li class="photo"></li>
          <li class="name">Item</li>
          <li class="size">Size</li>
          <li class="color">Color</li>
          <li class="price">Price</li>
          <li class="quantity">Qty</li>
          <li class="total_price">Total</li>
        </ul>
      </li>
      <% for line_item in @line_items %>
        <li>
          <ul class="line_item" id="line_item_<%= line_item.id %>">
            <li class="photo"><%= image_tag(line_item.variation.product.photo(:micro)) %></li>
            <li class="name"><%= line_item.variation.product.name %></li>
            <li class="size"><%= line_item.variation.garment_size.name %></li>
            <li class="color"><%= line_item.variation.color.name %> <span class="preview" style="background: <%= line_item.variation.color.hex_value %>;"></span></li>
            <li class="price"><%= currency(line_item.price) %></li>
            <li class="quantity"><%= line_item.quantity %> item<%= 's' if line_item.quantity != 1 %></li>
            <li class="total_price"><%= currency(line_item.price * line_item.quantity) %></li>
          </ul>
        </li>
      <% end %>
      <li class="footer">
        <ul class="line_item">
         <li>Subtotal:</li>
         <li class="total_price"><%= currency(@order.sub_total/100.to_f) %></li>
        </ul>
        <% if !@order.sales_tax.blank? %>
        <ul class="line_item">
         <li>Sales Tax:</li>
         <li class="total_price"><%= currency(@order.sales_tax/100.to_f) %></li>
        </ul>
        <% end %>
        <ul class="line_item">
         <li>Shipping: <%= @order.shipping_method.capitalize %></li>
         <li class="total_price"><%= currency(@order.shipping_cost/100.to_f) %></li>
        </ul>
        <ul class="line_item">
         <li>Total:</li>
         <li class="total_price"><%= currency(@order.amount/100.to_f) %></li>
        </ul>
      </li>
    </ol>
    <% else %>
      <h2>Whoops!</h2>
      <p>Hey it looks like your cart is empty!</p>
    <% end %>
</div>

<!-- Google Code for Purchase/Sale Conversion Page -->
<script type="text/javascript">
<!--
var google_conversion_id = 1070560067;
var google_conversion_language = "en";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "purchase";
var google_conversion_value = 0;
if (<%= @order.amount/100.to_f %>) {
  google_conversion_value = <%= @order.amount/100.to_f %>;
}
//-->
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1070560067/?value=<%= @order.amount/100.to_f %>&amp;label=purchase&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<SCRIPT language="JavaScript" type="text/javascript">
<!-- // Yahoo! Inc.
window.ysm_customData = new Object();
window.ysm_customData.conversion = "transId=,currency=,amount=<%= @order.amount/100.to_f %>";
var ysm_accountid  = "1FV6AK824V3PQ5PCCVV7IPNE71G";
document.write("<SCR" + "IPT language='JavaScript' type='text/javascript' " 
+ "SRC=//" + "srv2.wa.marketingsolutions.yahoo.com" + "/script/ScriptServlet" + "?aid=" + ysm_accountid 
+ "></SCR" + "IPT>");
// -->
</SCRIPT>
<SCRIPT>
 microsoft_adcenterconversion_domainid = 668876;
 microsoft_adcenterconversion_cp = 5050;
 microsoft_adcenterconversionparams = new Array();
 microsoft_adcenterconversionparams[0] = "dedup=1";
</SCRIPT>

<SCRIPT SRC="https://0.r.msn.com/scripts/microsoft_adcenterconversion.js"></SCRIPT>
<NOSCRIPT><IMG width=1 height=1 SRC="https://668876.r.msn.com/?type=1&cp=1&dedup=1"/></NOSCRIPT><a href="http://advertising.microsoft.com/MSNadCenter/LearningCenter/adtracker.asp" target="_blank">::adCenter::</a>