<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <title>Cactus Sports</title>
      <meta name="keywords" content="cactus sports, admin"/>
      <meta name="description" content="Administrative template for cactus sports."/>
      <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8"/>
      <link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" charset="utf-8"/>
      <link rel="stylesheet" href="/stylesheets/colorpicker.css" type="text/css" media="screen" charset="utf-8"/>
      <link rel="stylesheet" href="/stylesheets/jquery.Jcrop.css" type="text/css" media="screen" charset="utf-8"/>
      <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
   </head>
   <body id="<%= @body_id || controller.controller_name %>">
      <h1 id="site_name">Cactus Sports Administration <a href="/">View Site &gt;&gt;</a></h1>
      <ul id="primary_navigation" class="navigation">
         <li class="admin"><%= link_to "Dashboard", :controller => "admin" %></li>
         <li class="products"><%= link_to "Products", products_path %></li>
         <li class="orders"><%= link_to "Orders", orders_path %></li>
         <% if current_user.has_role?(:admin) %><li class="users"><%= link_to "Users", users_path %></li><% end %>
      </ul>
      <ul id="site_settings_navigation">
         <% if current_user.has_role?(:manager) %>
         <li class="site_settings">
           <%= link_to "Site Settings", edit_site_settings_path %>
           <ul class="sub_navigation">
              <li><%= link_to "Global Site Settings", edit_site_settings_path %></li>
              <li><%= link_to "Colors", colors_path %></li>
              <li><%= link_to "Sizes", garment_sizes_path %></li>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Brands", brands_path %></li>
           </ul>
        </li>
        <% end %>
         <li class="profile_settings">
            <span class="name_label">Logged in as:</span> 
            <span class="user_name"><%= current_user.name %></span>
            <%= link_to "Edit Profile", edit_user_path(current_user) %>
         </li>
         <li class="logout"><%= link_to "Logout", logout_path %></li>
      </ul>
      <div id="primary_content">
         <%= yield :layout %>
      </div>
      <script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1-1.3.2.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="/javascripts/jquery-ui-1.7.2.custom.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="/javascripts/admin.js"></script>
      <script type="text/javascript" charset="utf-8" src="/javascripts/colorpicker/colorpicker.js"></script>
      <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.Jcrop.min.js"></script>
   </body>
</html>