<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>
    <%= (@product.title unless @product.nil? || @product.title.blank?) || (@category.title unless @category.nil? || @category.title.blank?) || @site_settings.site_title %>
    </title>
    <meta name="keywords" content="<%= (@product.tag_list.join(", ") unless @product.nil? || @product.tags.blank?) || (@category.tags.join(", ") unless @category.nil? || @category.tags.blank?) || @site_settings.seo_keywords %>"/>
    <meta name="description" content="<%= (@product.description unless @product.nil? || @product.description.blank?) || (@category.description unless @category.nil? || @category.description.blank?) || @site_settings.seo_description %>"/>
    <%= stylesheet_link_tag 'reset','store','jquery.fancybox-1.2.5.css', :cache => 'store_front' %>
    <%= javascript_include_tag 'modernizr.js', :cache => 'dom_tools' %>
    <%= yield :head %>
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body id="">
    <ul id="contextual_navigation">
      <li id="skip_content"><a href="#primary_content">skip to content</a></li>
      <li id="help">Need help? Call us at <span class="phone">(480) 921-1278</span> or <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Cactus+Sports,+401+South+Mill+Avenue,+Tempe,+AZ+85281&sll=33.426893,-111.939611&sspn=0.010512,0.019419&g=401+South+Mill+Avenue,+Tempe,+AZ+85281&ie=UTF8&hq=Cactus+Sports,&hnear=401+S+Mill+Ave,+Tempe,+AZ+85281&ll=33.426602,-111.939601&spn=0.002628,0.004855&z=18&iwloc=A" title="Map to 401 S. Mill Ave.">get directions to our store in Tempe</a>.</li>
      <!-- <li class="login">Shopped with us before? <a href="#">login here</a></li>
            <li class="register"><a href="#" class="button">Register</a></li> -->
    </ul>
    <h1 id="logo"><a href="/" title="Cactus Sports">Cactus Sports<span></span></a></h1>
    <p id="cart_status">
      <span class="count"><%= (@cart.nil?) ? 0 : @cart.item_count %></span> <span class="description">items in your cart<span></span></span>
      <a href="<%= cart_path %>" class="checkout_button">Checkout<span></span></a>
    </p>
    <% cache(:controller => 'layout', :action => 'store', :action_suffix => "store_layout_search_and_nav") do %>
    <%= render :partial => 'layouts/search_form', :locals => {:form_id => 'primary_search'} %>
    <ul id="primary_navigation">
      <% if !@guys_categories.blank? %>
      <li class="guys">
        <a href="<%= browse_category_path(Store::METHODS[:guys],@guys_categories.first.guid) %>">Guys<span></span></a>
        <span class="border"></span>
          <ul class="sub_navigation">
            <% for category in @guys_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:guys],category.guid) %></li>
            <% end %>
          </ul>
      </li>
      <% end %>
      <% if !@girls_categories.blank? %>
      <li class="girls">
        <a href="<%= browse_category_path(Store::METHODS[:girls],@girls_categories.first.guid) %>">Girls<span></span></a>
        <span class="border"></span>
          <ul class="sub_navigation">
            <% for category in @girls_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:girls],category.guid) %></li>
            <% end %>
          </ul>
      </li>
      <% end %>
      <% if !@kids_categories.blank? %>
      <li class="kids">
        <a href="<%= browse_category_path(Store::METHODS[:kids],@kids_categories.first.guid) %>">Girls<span></span></a>
        <span class="border"></span>
          <ul class="sub_navigation">
            <% for category in @kids_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:kids],category.guid) %></li>
            <% end %>
          </ul>
      </li>
      <% end %>
      <% if !@gifts_categories.blank? %>
      <li class="gifts">
        <a href="<%= browse_category_path(Store::METHODS[:gifts],@gifts_categories.first.guid) %>">Girls<span></span></a>
        <span class="border"></span>
          <ul class="sub_navigation">
            <% for category in @gifts_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:gifts],category.guid) %></li>
            <% end %>
          </ul>
      </li>
      <% end %>
      <% if !@pets_categories.blank? %>
      <li class="pets">
        <a href="<%= browse_category_path(Store::METHODS[:pets],@pets_categories.first.guid) %>">Girls<span></span></a>
        <span class="border"></span>
          <ul class="sub_navigation">
            <% for category in @pets_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:pets],category.guid) %></li>
            <% end %>
          </ul>
      </li>
      <% end %>
      <% if !@brands.blank? %>
      <li class="brands">
        <a href="<%= browse_category_path(Store::METHODS[:brand],@brands.first.guid) %>">Brands<span></span></a>
        <span class="border"></span>
          <ul class="sub_navigation">
            <% for brand in @brands %>
              <li><%= link_to brand.name, browse_category_path(Store::METHODS[:brand],brand.guid) %></li>
            <% end %>
          </ul>
      </li>
      <% end %>
      <% if !@sales.blank? %>
      <li class="on_sale">
        <a href="#">On Sale!<span></span></a>
        <span class="border"></span>
        <% if !@guys_categories.blank? %>
          <ul class="sub_navigation">
            <% for category in @guys_categories %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
    
    <div id="primary_content">
      <%= yield :layout %>
    </div>
    <% if @newsletter_toggle.blank? %>
    <div id="newsletter_signup">
      <img src="/images/tag_get_the_best_deals.png" width="240" height="57" alt="Get The Best Deals!" id="tag_get_best_deals"/>
      <%= render :partial => 'layouts/newsletter_form', :locals => {:form_id => 'newsletter_signup_form'} %>
      <img src="/images/tag_on_sale.png" width="160" height="57" alt="Find Items On Sale" id="tag_items_on_sale"/>
    </div>
    <% end %>
    <% if @seo_content_toggle.blank? %>
    <div id="company_specific_content">
      <% @optimized_content = (@product.optimized_content unless @product.nil? || @product.optimized_content.blank?) || (@category.optimized_content unless @category.nil? || @category.optimized_content.blank?) || @site_settings.optimized_content %>
      <%= RedCloth.new(@optimized_content).to_html %>
    </div>
    <% end %>
    
    <% cache(:controller => 'layout', :action => 'store', :action_suffix => "store_layout_footer") do %>
    <div id="external_page_content">
      <h2 id="follow_up"><img src="/images/sub_didnt_see_what_your_looking_for.png" width="269" height="17" alt="Didn't See What You Were Looking For?"/></h2>
      <%= render :partial => 'layouts/search_form', :locals => {:form_id => 'secondary_search'} %>
      <h2 id="give_us_a_call"><img src="/images/sub_need_help.png" width="177" height="17" alt="Need help? Give us a call!"></h2>
      <p id="phone_number"><img src="/images/sub_phone_number.png" width="133" height="24" alt="(480)921-1278"></p>
      <ul id="inline_sitemap">
        <% if !@guys_categories.blank? %>
        <li class="guys">
          <h2><a href="<%= browse_category_path(Store::METHODS[:guys],@guys_categories.first.guid) %>"><img src="/images/sub_small_heading_guys.png" width="34" height="16" alt="Guys"/></a></h2>
          <ul>            
            <% for category in @guys_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:guys],category.guid) %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% if !@girls_categories.blank? %>
        <li class="girls">
          <h2><a href="<%= browse_category_path(Store::METHODS[:girls],@girls_categories.first.guid) %>"><img src="/images/sub_small_heading_girls.png" width="31" height="14" alt="Girls"/></a></h2>
          <ul>
            <% for category in @girls_categories %>
              <li><%= link_to category.name, browse_category_path(Store::METHODS[:girls],category.guid) %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% if !@brands.blank? %>
        <li class="brands">
          <h2><a href="<%= browse_category_path(Store::METHODS[:brand],@brands.first.guid) %>"><img src="/images/sub_small_heading_brands.png" width="48" height="14" alt="Brands"/></a></h2>
          <ul>
            <% for brand in @brands %>
              <li><%= link_to brand.name, browse_category_path(Store::METHODS[:brand],brand.guid) %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <li class="sale">
          <% if !@sales.blank? %>
          <h2><a href="#"><img src="/images/sub_small_heading_sale.png" width="62" height="14" alt="On Sale"/></a></h2>
          <ul>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Category</a></li>
          </ul>
          <% end %>
        </li>
      </ul>
      <ul id="footnotes">
        <li id="address">Cactus Sports - 401 S Mill Ave # 106, Tempe, AZ  85281 <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Cactus+Sports,+401+South+Mill+Avenue,+Tempe,+AZ+85281&sll=33.426893,-111.939611&sspn=0.010512,0.019419&g=401+South+Mill+Avenue,+Tempe,+AZ+85281&ie=UTF8&hq=Cactus+Sports,&hnear=401+S+Mill+Ave,+Tempe,+AZ+85281&ll=33.426602,-111.939601&spn=0.002628,0.004855&z=18&iwloc=A" class="button">Map / Directions</a></li>
        <li id="copyright">&copy; 2009, Cactus Sports. All designs Copyright by owner.</li>
      </ul>
    </div>
    <% end %>
    <%= javascript_include_tag 'jquery-1-1.3.2.min', 'jquery.fancybox-1.2.5.pack.js','application.js', :cache => 'front_end' %>
    <%= yield :foot %>
    <% if ENV["RAILS_ENV"] == "development" %>
    <ul id="grid">
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>

       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
       <li>&nbsp;</li>
    </ul>
    <%= javascript_include_tag 'dev.js', :cache => true %>
    <style type="text/css">
         #grid {
            background: rgba(255,255,255,0.1);
            height: 100%;
            left: 50%;
            margin-left: -480px;
            position: fixed;
            top: 0;
            width: 960px;
         }

         #grid li {
            background: rgba(255,0,0,.25);
            display: block;
            height: 100%;
            width: 40px;
            float: left;
            margin-right: 20px;
         }

         #grid li:last {
            margin-right: 0;
         }
      </style>
    <% end %>
  </body>
</html>